@font-face {
  font-family: 'asides';
  src: url('../fonts/asides.eot');
  src: url('../fonts/asides.eot') format('embedded-opentype'), url('../fonts/asides.woff') format('woff'), url('../fonts/asides.ttf') format('truetype'), url('../fonts/asides.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
height: 100%;
font-family: Helvetica, sans-serif;
font-size: 13px;
}
html{
margin: 0;
background: #002;
}
body{
max-width: 800px;
min-width: 480px;
margin: 0 auto;
}

#container{
 display : -webkit-flex;
-webkit-flex-direction: row;
display: flex;
flex-direction: row;
height: 100%;
}
#side {
height: 100%;
width: 200px;
background: #bdc4fb;
-webkit-flex-shrink: 0;
flex-shrink: 0;
}
#side .column {
height: 100%;
display : -webkit-flex;
-webkit-flex-direction: column;
display: flex;
flex-direction: column;
}
#side .logo {
line-height: 50px;
-webkit-flex-basis: 50px;
flex-basis: 50px;
-webkit-flex-shrink:0;
flex-shrink:0;
text-align: center;
}
.logo img {
vertical-align: middle;
}
#side nav {
background: #e4e7fd;
-webkit-flex-basis: 0;
-webkit-flex-grow: 1;
flex-basis: 0;
flex-grow: 1;
overflow-y: auto;
border-right: 1px solid #dde;
}
nav ul {
list-style-type: none;
padding: 0;
}
nav ol {
}
#side nav ul {
margin: 0.5em 0;
font-weight:bold;
}
#side nav ul ul{
margin: 0 1em;
font-weight: normal;
}
#arrows ul{
  display:none;
}
nav ul li {
padding: 0.25em 1em;
}
nav ol li {
padding: 0.25em;
}
nav li.target {
background-color: #99c;
}
nav a {
}
a {
color: #33c;
}
nav a:link {

}
a:visited {
color: #003;
}
a:hover,
a:active  {
color: #339;
}
.next a:link {
color:#060;
}
.next a:visited {
color: #030;
}
.next a:hover,
.next a:active  {
color: #393;
}
.mail a:link,
.mail a:visited {
color: #ccc;
}
.mail a:hover,
.mail a:active  {
color: #eee;
}
#side nav li:hover {
background-color: rgba(0,0,255,0.1);
transition: 0.3s;
}

blockquote {
font-style: oblique;
}
cite {
display: block;
color: #66c;
font-style: normal;
}

main {
background: #fff;
-webkit-flex-grow: 1;
flex-grow: 1;
height: 100%;
overflow: auto;
display : -webkit-flex;
-webkit-flex-direction: column;
display: flex;
flex-direction: column;
}
header {
-webkit-flex-basis: 50px;
-webkit-flex-shrink:0;
flex-basis: 50px;
flex-shrink:0;
background: #cad0fc;
display: -webkit-flex;
-webkit-flex-direction: row;
display: flex;
flex-direction: row;
box-sizing:border-box;
border-bottom: 1px solid #dde;
}
header .filler {
-webkit-flex-basis: 42px;
-webkit-flex-shrink:0;
-webkit-flex-grow:0;
flex-basis: 42px;
flex-shrink:0;
flex-grow:0;
}
header h1 {
-webkit-flex-basis: 20px;
flex-basis: 20px;
-webkit-flex-grow:1;
flex-grow:1;
text-align: center;
margin: 12px 0;
}
header nav {
}
header nav ul {
margin: 0;
margin-top:10px;
}
header nav li {
display: inline-block;
width: 20px;
overflow: hidden;
margin-right: 1px;
padding: 0;
}
header nav img {
}

header nav img[alt=next] {
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";
}

h1, h2, h3 {
margin: 1em 0 0;
font-family: "Gill Sans",Helvetica, sans-serif;
font-weight:bold;
color: #003;
}
h1, h2 {
font-size:1.2em;
}
h2, h3, h4 {
color: #336;
}
h3 {
font-size:1.1em;
}
h4 {
font-size:1em;
font-style: oblique;
}
article{
-webkit-flex-grow: 1;
flex-grow: 1;
overflow: auto;
padding: 0.5em;
position:relative;
}
article .top{
font-size: 1.25em;
}
article li{
margin: 0.5em 0;
}
section, section:target ~ :last-child{
display: none;
min-height: 100%;
}
section:target,
section:last-child {
display: block;
}

.warn,
.note,
.tip,
.git,
.info,
.next,
.kudos,
.mail,
pre {
display: block;
padding: 0.5em;
box-sizing: border-box;
margin: 0.5em 0;
border-width: 2px;
border-style: solid;
}
.warn {
background: #fde7e4;
border-color: #fee;
border-right-color: #edd;
border-bottom-color: #edd;
}
.note {
background: #fdfde4;
border-color: #ffd;
border-right-color: #eed;
border-bottom-color: #eed;
}
.tip {
background: #e4fdfd;
border-color: #eff;
border-right-color: #dee;
border-bottom-color: #dee;
}
.git {
background: #fde7fd;
border-color: #fef;
border-right-color: #ede;
border-bottom-color: #ede;
}
.info {
background: #e4e7fd;
border-color: #eef;
border-right-color: #dde;
border-bottom-color: #dde;
}
.next {
background: #e4fde4;
border-color: #efe;
border-right-color: #ded;
border-bottom-color: #ded;
}
.kudos {
background: #e0d0ff;
border-color: #edf;
border-right-color: #dce;
border-bottom-color: #dce;
}
.mail {
background: #336;
border-color: #669;
border-right-color: #003;
border-bottom-color: #003;
color: #fff;
}
pre {
background: #eee;
border-color: #ccc;
border-right-color: #f4f4ff;
border-bottom-color: #f4f4ff;
}
div.aside p:last-child {
margin-bottom: 0;
}
.tips .aside {
margin: 0.5em 3em;
}
.aside::before {
font-family: asides;
padding: 0 0.5em 0 0;
font-size: 1.2em;
}
.warn::before {
content: "\e803";
color: #c66;
}
.note::before {
content: "\e800";
color: #cc6;
}
.tip::before {
content: "\e804";
color: #6cc;
}
.info::before {
content: "\e801";
color: #66c;
}
.next::before {
content: "\e80b";
color: #6c6;
}
.kudos::before {
content: "\e80d";
color: #96c;
}
.mail::before {
content: "\e80e";
color: #fff;
}
.git::before {
content: "\e80c";
color: #666;
}
.hub::before {
content: "\e802";
color: #666;
}
.cc::before {
content: "\e80a";
color: #666;
}

input[type="checkbox"][id~=nix] + label::before,
input[type="checkbox"][id~=nix]:checked + label::before {
content: "\e807";
/* color: #3e110c; */
}
input[type="checkbox"][id~=mac] + label::before,
input[type="checkbox"][id~=mac]:checked + label::before {
content: "\e808";
/* color: #598Bee; */
}
input[type="checkbox"][id~=win] + label::before,
input[type="checkbox"][id~=win]:checked + label::before {
content: "\e809";
/* color: #eecf83; */
}
input[type="checkbox"][id~=nix]:checked + label ,
input[type="checkbox"][id~=nix]:checked + label::before,
input[type="checkbox"][id~=mac]:checked + label ,
input[type="checkbox"][id~=mac]:checked + label::before ,
input[type="checkbox"][id~=win]:checked + label,
input[type="checkbox"][id~=win]:checked + label::before {
color: #333;
}

figure{
text-align: center;
margin:0;
}
figcaption{
font-size: 0.9em;
font-weight: bold;
}
figure p {
text-align: left;
}

.keyword{
font-style:oblique;
}
code{
background-color: #eee;
}

.aside + div.optional {
margin-top: 1em;
}
.details>div{
background-color: #f8f8ff;
border: 0px solid #eef;
}
.details code{
background-color: #eef;
}
.details label,
.details label::before{
color: #336;
}
.tips>div{
background-color: #f8ffff;
border: 0px solid #eff;
}
.tips code{
background-color: #eff;
}
.tips label,
.tips label::before{
color: #366;
}
.trouble>div{
background-color: #ffe;
border: 0px solid #ffc;
}
.trouble code,
.trouble pre{
background-color: #eed;
}
.trouble label,
.trouble label::before{
color: #633;
}
.warn code{
background-color: #ecc;
}
.note code{
background-color: #eec;
}
.tip code{
background-color: #cee
}
.git code{
background-color: #ece;
}
.info code{
background-color: #ccf;
}
.next code{
background-color: #cfc;
}

dt {
font-weight: bold;
margin: 0.25em ;
}
dd p {
margin: 0;
margin-bottom: 0.25em;
}

input[type=checkbox] {
position: absolute;
clip: rect(0, 0, 0, 0);
top: 0;
}
input[type=checkbox] + label{
font-family: "Gill Sans",Helvetica, sans-serif;
font-weight: bold;
position: relative;
z-index: 1;
}
input[type=checkbox] + label::before{
font-family: asides;
padding: 0 0.5em 0 0.3em;
font-size: 2em;
content: "\e805";
position: relative;
top: 0.2em;
}
input[type=checkbox]:checked + label::before{
padding-right: 0.45em;
content: "\e806";
}
input[type=checkbox] ~ div{
height: 0;
overflow: hidden;
position: relative;
top: -2.2em;
}
input[type=checkbox]:checked ~ div{
height: auto;
padding: 0.5em;
padding-top: 2em;
border-width: 1px;
}
span.new {
font-weight: bold;
color: #000;
}
span.red {
font-weight: bold;
color: #900;
}
span.gold {
color: #960;
}
pre.revised {
font-weight: normal;
color: #999;
}
strong {
color: #633;
}
.under {
text-decoration: underline;
}
.strike {
text-decoration: line-through;
}

footer {
position:absolute;
bottom:0;
width:calc(100% - 16px);
height:34px;   /* Height of the footer */
background:#ccf;
}

@media print
{
  #side, header img { display: none; }
  main, header, section { display: block; }
}
