body, html{
  height: 100%;
  margin: 0;
}

.lxo-panel {
  position:absolute;
  width:100%;
  height:0;
  bottom:0;
  transition: height 0.5s;  
}

.lxo-panel.active {
  height:80%;
}

div.lxo-panel {
  background-color: #333;
}

.lxo-panel .icon {
  position: absolute;
  top: -24px;
  width: 48px;
  height: 48px;
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.lxo-panel:not(.active) > img {
  -webkit-filter: brightness(0.25);
}