html, body {
height: 100%;
margin: 0;
color: #fff;
}
html {
background: #333;
}
body {
font-size: 10px;
width: 35em;
background-color: #000;
margin: 0 auto;
}
main{
width: 24em;
margin: 0 auto;
}
h1 {
margin: 0;
padding: 1em;
text-align: center;
}
button {
width: 100%;
}

.matches {
text-align:center;
}
.matches img{
padding: 1em;
width: 1em;
height: 10em;
}
.matches img:not(.removed):hover{
background: #333;
}

.turns p {
width: 50%;
font-size: 2em;
display: inline-block;
text-align: center;
}
.active {
color: #ffc;
text-weight: bold;
}