body {
  font-size: 12px;
}

.matches {
text-align: center;
}
.matches img{
padding: 0 1em;
width: 1em;
height: 10em;
}
.matches img:not(.removed):hover{
background: lightgray;
}
div.matches img.removed {
opacity: 0.1;
}

