html, body {
height: 100%;
margin: 0;
color: #fff;
}
html {
background: #333;
}
body {
position: relative;
font-size: 12px;
width: 35em;
background-color: #000;
margin: 0 auto;
}
main,
.game {
width: 22.5em;
position: relative;
margin: 0 auto;
}
h1 {
margin: 0;
padding: 0.5em;
text-align: center;
}

.game{
pos
}
.matches img{
padding: 0.1em 1em;
width: 1em;
height: 10em;
}
.matches img:not(.removed):hover{
background: #333;
}
.matches.five img:first-child{
margin-left: 3em;
}
.matches.three img:first-child{
margin-left: 6em;
}
.matches.one img:first-child{
margin-left: 9em;
}
div.matches img.removed {
opacity: 0.1;
}

.game,
.turns,
.newgame,
button {
width: 100%;
}
button,
.match img,
.instructions label {
cursor: pointer;
}

.turns,
.winner .dialog{
text-align: center;
}
.turns{
font-size: 2em;
margin: 0.5em 0;
}
.turns p{
display: inline;
margin: 0.5em;
}
.active{
color: #ff9;
font-weight: bold;
}
.newgame button:not([onclick]){
display:none;
}

.overlay,
.mask,
.languages {
position: absolute;
top: 0;
}
.overlay,
.mask {
width: 100%;
height: 100%;
box-sizing: border-box;
}
.mask {
background: rgba(0, 0, 0, 0.8);
}
.dialog {
position: absolute;
top: 50%;
-webkit-transform: translate(0, -50%);
-moz-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
-o-transform: translate(0, -50%);
transform: translate(0, -50%);
}
.dialog {
font-size: 1.5em;
border: 1px solid #fff;
border-radius: 0.5em;
padding: 0.5em;
}

.confirm { /* div.mask, p, button x 2 */
display:none;
}

.instructions { /* checkbox, div.mask, p, ul+li */
/*display:none;*/
pointer-events: none;
}
.instructions input[type=checkbox]{
position: absolute;
clip: rect(0,0,0,0);
}
.instructions label {
position: absolute;
right: -1px;
top: -1px;
border-top-right-radius: 0.333em;
border-bottom-left-radius: 0.333em;
background: #c00;
font-size: 1.5em;
font-family: Helvetica, sans-serif;
text-align: center;
width: 0.9em;
height: 0.9em;
line-height: 0.8;
pointer-events: auto;
}
.instructions label:hover {
background: #f00;
}
.instructions input[type=checkbox]:checked:checked + div {
display:none;
}


.winner {  /* div.mask, p */
display:none;
}
.winner p {
font-size: 3.5em;
margin:0;
}

.languages { /* a+img... */
left: 0;
}
.languages a {
display:block;
opacity: 0.5;
}
.languages a:target {
opacity: 1;
}
